---
layout: layout.liquid
title: Random Names
---

<div x-data="{names:['Judy','Mary','Yolanda','Jackson','Jalen',
                        'Damion','Randy','Oz','Misty','Xander'],

                randomName: 'Generate Name!',

                randomizeName() {
                    this.randomName = this.names[Math.floor(Math.random() * 10)]
                }
                        }">

    <h1 x-text="randomName"></h1>
    <button @click="randomizeName()">Generate</button>

</div>

<!--

-->