---
layout: layout.liquid
title: Random Names
---

<div x-data="{ names: [
                'Judy',
                'Mary',
                'Yolanda',
                'Jackson',
                'Jalen',
                'Damion',
                'Randy',
                'Oz',
                'Misty',
                'Xander']
                }">


    <h1>Generate a Random Name!</h1>
    <button>Generate</button>
    

</div>