body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    color
}

